# Strapi default directories
/node_modules
/.cache
/.tmp

# Strapi SQLite Database (Keep the DB file tracked)
!data/db.sqlite

# Vercel deploy environment
/.vercel

# Optional: If you use other local configuration files
/.env
